.sec-tab {
    width: 100% !important;

    & #tabs_container {
        // padding: 0 !important;
        // width: 100%;
        // height: auto !important;
        overflow: visible !important;
        // display: table;
        // clear: both;
    }

    & ul {
        display: flex;
        justify-content: space-evenly;

        @include respond(tab-port) {
            overflow: auto;
            white-space: nowrap;
        }

        & li {
            list-style: none;

            & .tabulous_active {
                border-bottom: 2px solid $color-primary;
            }

            & a {
                color: $color-black !important;
                font-size: 1.6rem;
                padding: 1rem 2rem !important;
                background: none !important;
                transition: all .3s;
                border-bottom: 2px solid transparent;
            }
        }
    }
}