.sec-padding {
    padding: 7rem 0;

    @include respond(tab-land) {
        padding: 6rem 0;
    }

    @include respond(phone) {
        padding: 5rem 0;
    }
}

.sec-padding-small {
    padding: 5rem 0;


    @include respond(phone) {
        padding: 3rem 0;
    }
}

.sec-heading {
    text-align: center;

    & .restaurant-outline {
        font-size: 6rem;
        color: $color-primary;
        margin-bottom: 1rem;

        @include respond(tab-port) {
            font-size: 4rem;
            margin-bottom: .8rem;
        }

        @include respond(phone) {
            margin-bottom: .5rem;
        }
    }

    & p {
        font-size: 3rem;
        color: $color-primary;
        font-family: 'Dancing Script';
        margin-bottom: 2rem;

        

        @include respond(phone) {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    & h1 {
        font-size: 5rem;
        color: $color-black;
        text-transform: uppercase;

        @include respond(tab-port) {
            font-size: 3.5rem;
        }

        @include respond(phone) {
            font-size: 3rem;
        }
    }
}